@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&family=Open+Sans&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

#t2{
    padding:104px 230px; 

}

@media only screen and (max-width: 900px) {
    #t2{
      padding: 50px;
    }
  }
  

  #slider2{
    background-image:
    linear-gradient(to bottom, rgba(81, 81, 82, 0.884), rgba(81, 81, 82, 0.884));
  }
